.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.list {
  height: auto;
  width: 100vh;
  background-color: white;
  margin-bottom: 10px;
}

.div {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.initial {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.mini {
  display: flex;
  flex-direction: column;
}

.name-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name-head {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.p-cont {
  color: #cbd2d9;
  font-size: 13px;
  font-family: 'Roboto';
}

.comment-cont {
  font-size: 15px;
  color: #cbd2d9;
  font-family: 'Roboto';
}

.final-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px;
}

.like-cont {
  display: flex;
  flex-direction: row;
}

.like {
  color: #0b69ff;
  font-size: 15px;
}

.del-btn {
  border-width: 0px;
  background-color: transparent;
}

.delete {
  height: 15px;
  width: 15px;
  background-size: cover;
}

.like-img {
  height: 14px;
  width: 15px;
  background-size: cover;
}
